body {
  background-color: white;
  margin: 60px;
  font-size: 15pt;
  font-family: sans-serif;
}

.bodytext {
  color: #585858;
  font-weight: 100;
}

h1 {
  font-size: 35pt;
}

input {
  margin-bottom: 10px;
}

#welcome {
  margin-top: 30px;
  margin-bottom: 30px;
}

#errors {
  font-size: 12pt;
}
